
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.navbar {
	position: fixed;
	margin-bottom: 0px;
}

.navbar-inner {
	background: #2c2c2c;
}

.navbar-inner h1 {
	width: 100%;
	font-size: 20px;
	font-weight: 100;
	color: white;
	margin: 0;
	padding-left: 15px;
}
.navbar-inner h1 span {
	float: right;
	font-size: 20px;
}

#content {
	margin-top: 140px;
}

#create-new {
	position: absolute;
	top: 90px;
}

input, textarea {
	width: 300px;
}

input[type=radio],
input[type=checkbox] {
	margin-right: 5px;
	margin-left: 15px;
	vertical-align: text-top;
}

#condition input[type=radio]:first-child,
#restricted-matirials {
	margin-left: 0;
}

.input-group {
	margin: 20px auto;
}

.restricted-matirials {
	margin-top: -20px;
}

.item * {
	display: inline-block;
}

.block-item * {
	display: block;
}

.inline {
	display: inline;
}
.disabled {
	color: rgb(200,200,200);
}
.right {
	float: right;
}
.bold {
	font-weight: bold;
}
label span {
	font-weight: normal;
}
.italic {
	font-style: italic;
}

#title,
#description,
#internal-notes {
	width: 70%;
}

#variables input {
	width: 100px;
}
