
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1 {
	margin: 40px auto;
}

form * {
	display: block;
}

input, textarea {
	width: 300px;
}

.item * {
	display: inline-block;
}

.block-item * {
	display: block;
}

.inline {
	display: inline;
}
.disabled {
	color: rgb(200,200,200);
}
.right {
	float: right;
}
.bold {
	font-weight: bold;
}
label span {
	font-weight: normal;
}
.italic {
	font-style: italic;
}

#title,
#description,
#internal-notes {
	width: 70%;
}

#variables input {
	width: 100px;
}