<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Front-End Quiz</title>
	<link rel="stylesheet" href="lib/bootstrap.min.css">
	<link rel="stylesheet" href="lib/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/base.css">
</head>
<body>
	<div class="container">
		<div id="header"></div>

		<div id="content">
			<h1>1stdibs.com item's inventory</h1>
			<a class="right" href="/new">Create New Item</a>
		</div>

		<table id="inventory" class="table table-striped table-hover">
			<caption class="caption">Items Inventory</caption>
				<thead>
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Description</th>
						<th>Dealer Internal Notes</th>
						<th>Material</th>
						<th>Restricted</th>
						<th>Units</th>
						<th>Shape</th>
						<th><th class="child" colspan="3">Measurement</th></th>
						<th>Condition</th>
						<th><th class="child" colspan="1">Actions</th></th>
					</tr>
				</thead>
				<tbody></tbody>
		</table>

		<form id="form" class="form" role="form"></form>
	</div>

	<!-- Inventory Item Template -->
	<script id="item-template" type="text/template">
		<td><%= id %></td>
		<td><%= title %></td>
		<td><%= description %></td>
		<td><%= dealerInternalNotes %></td>
		<td><%= material.description %></td>
		<td><%= material.restricted %></td>
		<td><%= measurement.unit %></td>
		<td><%= measurement.shape %></td>
		<td><%= measurement.length %></td>
		<td><%= measurement.depth %></td>
		<td><%= measurement.height %></td>
		<td><%= "unknown" %></td>
		<td><%= condition.description %></td>
		<td><a href="/delete/<%= id %>">Edit</a></td>
		<td><a href="/edit/<%= id %>">Delete</a></td>
	</script>

	<!-- Form Template -->
	<script id="form-template" type="text/template">
		<label for="title">Title</label>
		<input id="title" class="form-control" type="text">

		<label for="description">Description</label>
		<textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>

		<label for="internal-notes">Internal Notes</label>
		<input id="internal-notes" class="form-control" type="text">

		<label for="materials">Matirials</label>
		<select name="materials" id="materials">
			<option selected disabled>Select...</option>
		</select>
		
		<div class="item">
			<input id="restricted-matirials" type="checkbox" name="" value="restricted-matirials">
			<label for="restricted-matirials"><span>Check this box</span> if the listing contains restricted matirials</label>
		</div>

		<label>Measurements</label>
		<div id="measurements" class="item">
			<label for="">Measurements are in:</label>
		</div>
		<div id="measured" class="item">
			<label for="">Measured item is:</label>
		</div>

		<div id="variables" class="item">
			<div class="block-item">
				<label for="length" class="disabled">Length:</label>
				<input id="length" class="form-control" type="text" disabled>
				<label for="height" class="disabled">Height:</label>
				<input id="height" class="form-control" type="text" disabled>
			</div>
			<div class="block-item">
				<label for="depth" class="disabled">Depth:</label>
				<input id="depth" class="form-control" type="text" disabled>
				<label for="diameter" class="disabled">Diameter:</label>
				<input id="diameter" class="form-control" type="text" disabled>
			</div>
		</div>
		
		<label for="condition">Condition <span class="inline">( Select one )</span></label>
		<div id="condition" class="item"></div>

		<input type="submit" value="Save">
	</script>

	<script src="bundle.js"></script>
</body>
</html>